
.NBHeader {
    margin-bottom: 30px;
    padding: 5px;
    width: 100%;
}

.navlink {
    margin: 0.2w;
}

.dtu-logo {
    width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 .dropdown-menu {
    border-radius: 0px;
    background:var(--beige);
    min-width: 200px;
}

.fontSize {
    font-size: 1.6vw;
    padding: 0.5vw;
}