.Titelf h2 {
    font-style: italic;
    color: darkblue;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.Titelt h2 {
    font-style: italic;
    font-weight: bold;
    color: darkblue;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
}

.Time p{
    font-style: italic;
    font-size: small;
    color: gray;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-top: 10px;
}

p {
    font-style: normal;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
}

h1 {
    font-size: 50px;
    margin-left: 20px;
}

.BorderUnRead {
    border: 1px solid darkgrey;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    opacity: 0.7;
    max-width: 50%;
}

.BorderRead {
    border: 1px solid lightgrey;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    opacity: 0.7;
    max-width: 50%;
}

.BorderUnRead:hover {
    opacity: 1;
}

.BorderRead:hover{
    opacity: 1;
}
.content{
    min-height: 470px;
}


