table {
    width: fit-content;
    height: 100%;
    padding: 16px;
    border: 0.5px lightgrey solid;
    border-radius: 10px;
    table-layout: auto;
 
}

.tableHeader {
    background-color: rgb(153,0,0);
    color: white;
    text-align: left;
    font-size: 15px;
    width: 100%;
  }

  td,th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid light
}


.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px
}
