.containerInputFields{
  width: 1000px;
  height: 45px;
  margin-left: 20%;
}

.textareaMessage{
  resize: none;
  width: 800px;
  height: 300px;
  margin-left: 20.7%;
}

.inputButton{
  margin-left:40%;
  width: 200px;
  text-align-last: center;
}

.bookMettingBtn{
  margin-left: 43%;
}
