.containerpage{
  width: 100%;
  height: 100%;
}

.containerInputFields{
  width: 100%;
  height: 45px;
    margin-left: 10%;
}

.textareaMessage{
  resize: none;
  width: 80%;
  height: 100%;
  margin-left: 10px;
  border: 1px solid rgba(182, 182, 182, 182);
  border-radius: 4px;
}

.containerTextarea{
  width: 100%;
  height: 250px;
  margin-left: 10%;
}

.containerInputButton{
  width: 10%;
  margin-left: 45%;
  text-align-last: center;
}

.InputButton{
  background-color: brown;
}

.containerBookMeetingBtn{
  margin-left: 11%;
}


